{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link href="{% static "css/jquery-ui.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/interviewParameters.css" %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link rel="stylesheet" href="{%static "css/bootstrap-tokenfield.css"%}">
<link rel="stylesheet" href="{%static "css/bootstrap-tokenfield.min.css"%}">
<link rel="stylesheet" href="{%static "css/tokenfield-typeahead.css"%}">
<link rel="stylesheet" href="{%static "css/tokenfield-typeahead.min.css"%}">

<script type="text/javascript" src="{% static "js/jquery.min.js" %}" ></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}" ></script>
<script type="text/javascript" src="{% static "js/jquery-ui.js" %}" ></script>
<script type="text/javascript" src="{% static "js/interview-parameters.js" %}" ></script>
<script type="text/javascript" src="{% static "js/bootstrap-tokenfield.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-tokenfield.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/typeahead.bundle.js" %}"></script>
<script type="text/javascript" src="{% static "js/typeahead.bundle.min.js" %}"></script>


</head>
<body>

<div class="container">
  <h3>Interview Panel Recommendation System</h3>
    <div class="panel panel-default" style="width:1140px;padding:10px 40px 2px 40px"  >
        <div class="radio">
            <label><input type="radio" value="radioForappId" name="optradio">Fetch JD by Application Interview Id</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="radioForManual" name="optradio">Manually insert JD</label>
        </div>
        <div class="dropdown-group">
            <label for="jobreqid">Application Interview Id:</label>
            <select class="form-control" id="JobReqId" style="width: 200px;">
                <option>Select Application Interview Id</option>
                {% for app in applicationIdLi %}
                <option value="{{ app }} ">{{ app }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
        <div class="text-right">
            <input type="submit" class="btn btn-info" value="Get Job Details" id="jobdetailBtn" style="background-color:#7c90b7;border-color: #7c90b7;">
        </div>
            <div class="loader" id="jobdetailloaderBtn"></div>
        <div id="ExternalJobDescription">
            <h4>External Job Description</h4>
        <div class="alert alert-info" id="JobDescription" style="width:50%;background-color:#f5f5f5;border-color: #e3ebec"></div>
        </div>
          <div>
        <div class="alert alert-info" id="ManualJobDescription" contentEditable=true style="width:50%;background-color:#f5f5f5;border-color: #e3ebec"></div>
        </div>
            <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">-->
            <!--<div class="form-group">-->
                <!--<label for="position">Position:</label>-->
                <!--<input type="text" class="form-control" id="position" style="width: 200px;">-->
            <!--</div>-->
            <!--</div>-->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="experience">Minimum Experience:</label>
                <input type="text" class="form-control" id="experience" value="1" style="width: 200px;">
            </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="experience">Maximum Experience:</label>
                <input type="text" class="form-control" id="experienceTo" value="1" style="width: 200px;">
            </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="role">Role:</label>
                <input type="text" class="form-control" id="role" style="width: 200px;">
            </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="newPosition">Position:</label>
                <input type="text" class="form-control" id="newPosition" style="width: 200px;">
            </div>
            </div>

            <h5>Skills:</h5>
                <input type="text" class="form-control" id="tokenfield" value="" style="width: 200px;"/>
            <h5>Other Skills:</h5>
                <input type="text" class="form-control" id="AssociatedSkills" value="" style="width: 200px;"/>

            <div class="alert alert-info" id="infoMsg" />
                <strong>Info!</strong>Relevant skills cannot be display because word not in vocabulary.

        </div>
        </div>
        </div>


     <div class="panel panel-default" style="width:2000x;padding:10px" >
    <div class="container">
         <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-->
            <div class="dropdown-group">
                <label for="count-of-panel-members">Total Panel members:</label>
                <select class="form-control" id="count-of-panel-members" value="1" style="width: 200px;">
                    <option>1</option>
                    {% for pan in panelMemberLi %}
                    <option value="{{ pan }} ">{{ pan }}</option>
                    {% endfor %}
                </select>
            <!--</div>-->
        </div>
      <div class="text-center" style="width:2000px;">
        <input type="submit" class="btn btn-info" value="Recommend Panel" id="ReccomendBtn" style="
                 background-color:#7c90b7;border-color: #7c90b7;">

    </div>
        <div class="loader" id="recommendpanelloaderBtn"></div>
      <div style="width:1110px;">
            <h4>Recommended Panel Members</h4>
          <!--<div id="table-scroll" style="width:1100px;">-->
          <table class="table" id="ReccomendationTable" style="width:1110px;">
              <thead>
              <tr>
                  <th style="width:10px;">Name</th>
                  <th style="width:10px;">Designation</th>
                  <th style="width:5px;" >Total Experience (years)</th>
                  <th style="width:10px;">Skills</th>

              </tr>
              </thead>
          </table>
          </div>
    </div></div>
    </div>
</div>
</body>
</html>
