{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
 <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="{% static "js/jquery.min.js" %}" ></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}" ></script>
   <script type="text/javascript" src="{% static "js/jquery-ui.js" %}" ></script>
  <script type="text/javascript" src="{% static "js/interview-list.js" %}" ></script>

</head>

<body>

<div class="container">
  <h3>Select the interview to recommend the panel</h3>
    <!--<div class="dropdown">-->
    <div class="dropdown-group">
        <select class="form-control" id="JobReqId" style="width: 200px;">
            <option>Select Job Requisition Id</option>
            {% for inter in interviewLi %}
            <option value="{{ inter.JobRequisitionId }} ">{{ inter.JobRequisitionId }}</option>
            {% endfor %}
        </select>
    </div>


    <div class="text-center">
        <input type="submit" class="btn btn-info" value="Get Job Details" id="jobdetailBtn" style="
            background-color:#7c90b7;border-color: #7c90b7;">
    </div>
    <h3>Job Description</h3>
    <div class="alert alert-info" id="JobDescription" style="width:50%"></div>
    <div class="text-center">
        <input type="submit" class="btn btn-info" value="Recommend Panel" id="RecBtn" style="
             background-color:#7c90b7;border-color: #7c90b7;">
    </div>
</div>

</body>
</html>
