{% extends "admin/base.html" %}

{% block title %}{{ title }} | Interview Panel Recommender System{% endblock %}

{% block extrastyle %}
<style>
    #header{
        background-color:#5d7098;
    }
    .module h2, .module caption, .inline-group h2{
        background: #7c90b7;
    }
    .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background: #7c90b7;
    }

</style>

{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Interview Panel Recommender System</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

